#Compiled source code
*.exe

#Pelles C Auxiliary Files & Folders
*.ppx
*.tag
output

#Files created when compiling a C02 program
*/*.asm
*/*.bin
*/*.dbg
*/*.log
*/*.lst
*/*.prg
*/*.sym

#Converted Object Files
*.asc
*.dsk
*.out
*.s9
*.wav

#Deprecated Files
*/oldclude
*/*.zip