#Compiled source code
*.exe

#Pelles C Auxillary Files
*.ppx
*.tag

#Files created when compiling a C02 program
*/*.asm
*/*.bin
*/*.dbg
*/*.log
*/*.lst
*/*.prg
*/*.sym

#Converted Object Files
*.asc
*.out
*.s9
*.wav

#Deprecated Files
*/oldclude
*/*.zip